@import "variable.scss";
/*стили для футера*/
.footer {
    margin-top: 66px;
    margin-bottom: 50px;
    .footer__top {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $sm) {
            display: flex;
            flex-direction: column;
        }
        .img1 {
            display: flex;
            align-items: center;
            @media screen and (max-width: $sm) {
                display: none;;
            }
        }
        .img1-adapt{
            display: none;
            @media screen and (max-width: $sm) {
                display: block;
                margin: 0 auto;
                margin-bottom: 35.77px;
            }
        }
        .img2 {
            align-items: right;
            margin-bottom: 39px;
            @media screen and (max-width: $sm) {
                display: none;
            }
        }
        .img2-adapt{
            display: none;
            @media screen and (max-width: $sm) {
                display: block;
                margin: 0 auto;
                margin-bottom: 42px;
            }
        }
    }
    .footer__bottom {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $sm) {
            display: flex;
            flex-direction: column;
        }
        .footer__info {
            margin-top: 38px;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.96px;
            color: #8F99AC;
            @media screen and (max-width: $sm) {
                margin: 0 auto; 
                text-align: center;
                margin-top: 42px;
                margin-bottom: 33px;
            }
        }
        .footer__copyright {
            display: flex;
            align-items: center;
            text-align: right;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.96px;
            color: #8F99AC;
            @media screen and (max-width: $sm) {
                margin: 0 auto; 
                text-align: center;
                display: block;
                margin-bottom: 27px;    
            }
        }
    }
}
/*конец стили для футера*/