:root {
    --box-shadow-one: 0px 10px 50px 0px #4047E233;
    --box-shadow-two: 0px 10px 50px 0px #FCA20633;
    --box-shadow-opportunities: 0px 10px 50px 0px #4047E233;

}   
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;